<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RedSky_Ruby_IDE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <RedSky_Ruby_IDE.My.MySettings>
            <setting name="TamanoVentana" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="ColorFondo" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="ColorContornos" serializeAs="String">
                <value>50, 50, 50</value>
            </setting>
            <setting name="ColorFuentes" serializeAs="String">
                <value>FloralWhite</value>
            </setting>
            <setting name="ColorLineas" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="LenguajeSeleccionado" serializeAs="String">
                <value>Lua</value>
            </setting>
            <setting name="ColorIndentacion" serializeAs="String">
                <value>50, 50, 50</value>
            </setting>
            <setting name="ColorHerramientas" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="TipoDeFuente" serializeAs="String">
                <value>Courier New, 10pt</value>
            </setting>
            <setting name="Idioma" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrimerInicio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rutaProyecto" serializeAs="String">
                <value/>
            </setting>
            <setting name="Nuevo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClicInicio" serializeAs="String">
                <value>False</value>
            </setting>
        </RedSky_Ruby_IDE.My.MySettings>
    </userSettings>
</configuration>
